includes:
	- ./vendor/larastan/larastan/extension.neon

parameters:
	level: 8
	paths:
		- ./app
		- ./database
		- ./routes
		- ./tests
	excludePaths:
		- ./app/Overrides/Rector/Php74/Rector/Closure/ClosureToArrowFunctionRector.php
		- ./app/Overrides/Pxlrbt/FilamentSpotlight/SpotlightPlugin.php
		- ./app/Overrides/Spatie/Permission/Traits/HasPermissions.php
		- ./app/Overrides/Spatie/Permission/Traits/HasRoles.php
		- ./app/Models/Shared/Searchable/HasScoutSearchable.php #is used zero times and is not analysed.
		- ./app/Overrides/Illuminate/Queue/SerializesModels.php #is used zero times and is not analysed.
	treatPhpDocTypesAsCertain: false
	noModelMake: true
	checkOctaneCompatibility: true
	noEnvCallsOutsideOfConfig: true
	checkModelAppends: true
	checkModelProperties: true
	universalObjectCratesClasses:

	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		- '#^Parameter \#1 \$column of method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>::where\(\) expects#'
		- '#^Parameter \#\d \$callback of method Illuminate\\(Support|Database\\Eloquent)\\Collection\<(int|\(int\|string\)),Illuminate\\Database\\Eloquent\\Model\>::(each|map|filter|when)\(\) expects#'
		- '#^Return type of call to method PHPUnit\\Framework\\TestCase::createMock\(\) contains unresolvable type.#'
		- '#^Parameter \#1 \$(label|title|heading) of method Filament\\[A-Za-z\d\\]+::(label|title|modalHeading)\(\) expects Closure(?:\|Illuminate\\Contracts\\Support\\Htmlable)?\|string\|null, array\|string given.#'
